@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font-variation-settings: normal) {
  @font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 200 600;
    font-display: swap;
    src: url('../fonts/jost.woff2') format('woff2');
  }
}

html {
  @apply text-prussian-blue;
}
